.text-white { color: #ffffff; }

.devise_sessions, .devise_registrations, .devise_passwords {
  &.new, &.create {
    @extend .devise;
  }
}

.devise_passwords.edit, .devise_passwords.update {
  @extend .devise;
}

// For compatibility with Flutie body_class
.devise-sessions-new, .devise-sessions-create, .devise-registrations-new, .devise-registrations-create, .devise-passwords-new, .devise-passwords-create, .devise-passwords-edit {
  @extend .devise;
}

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

.devise {
  @include gradient-vertical($devise-bg-gradient-start, $devise-bg-gradient-end);
  background-attachment: fixed !important;
  .devise-welcome {
    @extend .text-center;
    @extend .text-white;
    text-shadow: 1px 1px 3px $gray-dark;
    padding: 50px 0 20px 0;
    h2 {
      margin-bottom: 50px;
      a {
        @extend .text-white;
        text-decoration: none;
        @include transition(color 0.25s linear);
        &:hover {
          color: darken(#ffffff, 20%);
        }
      }
    }
    h2, h3 {
      font-weight: lighter;
    }
  }
  form {
    @include border-top-radius($border-radius-base);
    @include border-bottom-radius($border-radius-base);
    border: 1px solid #ffffff;
    background: #ffffff;
    box-shadow: 1px 1px 3px $gray-dark;
    padding: 40px 40px 20px;
    
    #error_explanation {
      @extend .alert;
      @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
      h2 {
        margin-top: 0;
        font-size: 15px;
      }
    }
    .actions {
      @extend .text-center;
      padding-top: 30px;
    }
  }
  .devise-links {
    @extend .text-center;
    @extend .text-white;
    margin-top: 20px;
    margin-bottom: 70px;
    a {
      text-decoration: underline;
      @extend .text-white;
    }
  }
}
